---
const personalImageAlt = "Juan David";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy Juan David Carrillo Anillo, aunque muchos me conocen como
      Carrillo o Juanda. Empecé en la programación a los 16 años, cuando
      descubrí HTML y CSS en el bachillerato. <strong
        >Recuerdo la emoción de crear mis primeras páginas web y ganar algo de
        dinero con ellas…</strong
      > ahí supe que esto era lo mío.
    </p>

    <p>
      Estudié Análisis y Desarrollo de Software (ADSI) en el SENA, completamente
      remoto.
      <strong
        >Hice mis prácticas también a distancia, y gracias a mi compromiso y
        dedicación, mi jefa decidió contratarme.</strong
      > Estuve dos años trabajando remoto para esa empresa, creciendo cada día como
      desarrollador.
    </p>

    <p>
      <strong
        >Mi aprendizaje ha sido en gran parte empírico, explorando, fallando y
        volviendo a intentarlo.</strong
      > Hoy en día, colaboro en la creación de la web para la comunidad SalamandraDev,
      un espacio donde compartimos conocimiento, experiencias y crecimiento.
    </p>

    <br />

    <blockquote
      class="border-l-4 border-yellow-500 pl-4 italic text-gray-600 dark:text-gray-400"
    >
      Creo firmemente que no necesitas tener el camino perfecto para alcanzar
      tus metas. Lo importante es comenzar, no rendirte y mantener viva la
      pasión por aprender.<br />
      <strong
        >El código cambia, pero las ganas de mejorar siempre deben estar
        presentes.</strong
      >
    </blockquote>
  </div>

  <img
    width="200"
    height="200"
    src="/formal.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
