---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador web Salamandra comunidad",
    company: "SalamandraDevs",
    description:
      "Como líder técnico, estoy desarrollando la web principal de nuestra comunidad junto a un equipo de compañeros. Somos más de 500 miembros apasionados por la tecnología y el desarrollo. Nuestro objetivo es crear un espacio digital innovador que conecte, inspire y potencie el crecimiento profesional de todos los integrantes. He coordinado el diseño, arquitectura y despliegue de la plataforma, impulsando la colaboración y el aprendizaje continuo.",
    link: "https://t.me/salamandradevs/1",
  },
  {
    date: "Marzo 2023 - Marzo 2025",
    title: "Principal Fullstack Developer",
    company: "Custom Control Colombia",
    description:
      "Desarrollé aplicaciones web innovadoras utilizando React y Angular Creé APIs RESTful seguras y eficientes con Java y Spring Boot, Trabajé en equipo, lideré proyectos y resolví problemas de manera efectiva Me destacaron por mi resiliencia capacidad de aprendizaje y liderazgo.",
    link: "https://customcontrol.com.co/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
